<header class="py-5">
                <div class="container px-9">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-2">
                                <h1 class="fw-bolder mb-3">Spendings App </h1>
                                <p class="lead fw-normal text-muted mb-4">The application that helps you to monitor and manage your expenses. Add only basic and important data about spending.<br /> No waste of time! <br /> Share your expenses with other users, family, and friends.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>