<section class="py-3" id="expenses">
  <div class="container px-5 my-2">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to "Expenses", expenses_path %>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Update Expense</li>
        </ol>
      </nav>

  <% if user_signed_in? %>

    <%# <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <div class="text-center">
            <h2 class="fw-bolder">
                New Expense  
            </h2>                             
        </div>
      </div>
    </div>          %>
  <% else %> 
        <p> Not User </p>   
  <% end %>
  </div>

  <div class="container px-5 my-2"> 
    <div class="row gx-5 ">
        <div class="col">


            <div class="card shadow">
                <div class="card-header shadow">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">
                        <div class="col-4 align-items-center">
                            New Expense 
                        </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">

                    <%# Form %>
        <%= render "form", expense: expense, categories: categories %>
                    <%# End Form %>

                </div>

                <div class="card-footer text-muted">
                    
                </div> 
            </div>     



        </div>   
    </div>
  </div>    
</section>  
